@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Source+Code+Pro:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Source Code Pro */
.source-code-pro-regular {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

.source-code-pro-bold {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* Geologica */
.geologica-regular {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    /* Normal slant */ "CRSV" 0,
    /* No crosstalk */ "SHRP" 0; /* Normal sharpness */
}

.geologica-bold {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold weight */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    /* Normal slant */ "CRSV" 0,
    /* No crosstalk */ "SHRP" 0; /* Normal sharpness */
}
