@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Source+Code+Pro:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #121212;
  color: #ffffff;
}

.source-code-pro-normal {
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

.source-code-pro-medium {
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 600; /* Medium bold */
  font-style: normal;
}

.source-code-pro-bold {
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 800; /* Bold weight */
  font-style: normal;
}

.geologica-normal {
  font-family: "Geologica", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Normal weight */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

.geologica-medium {
  font-family: "Geologica", serif;
  font-optical-sizing: auto;
  font-weight: 600; /* Medium bold */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

.geologica-bold {
  font-family: "Geologica", serif;
  font-optical-sizing: auto;
  font-weight: 800; /* Bold weight */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

.socialLinks {
  background-color: orange;
}
